<% content_for :extra_javascript do -%>
  <%= javascript_include_tag :high_charts %>
  <%= javascript_include_tag 'search_nytimes' %>
<% end -%>

<% content_for :heading do -%>
  <%= @currency.description %>
<% end -%>

Click on a data point to view relevant news stories for that time period.

<% high_chart('currency-chart', @chart) do |chart| %>
  <%= "
    options.plotOptions.series = {
      allowPointSelect: true,
      point: {
        events: {
          click: function(event) {
            searchNYTimes(this.category);
          }
        }
      }
    };
  " %>
<% end -%>

<div id="articles" style="width: 630px;"></div>
